/* screen.css - www.simongriffee.com/stories/ stylesheet by Simon Griffee - hypertexthero.com */

/* =reset 
---------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

p.ruler {clear:both; height:0; width:0; border:none; margin:0; padding:0; text-indent:-2000em;}

.small {font-size:0.8em;}
.left {text-align:left !important;}
.floatright {float:right; margin:0 0 1em 1em;}

body {
    line-height:1.5em; 
    color:#999; 
    background:#141414 url(noise-b.gif) repeat;
    font-family: georgia, serif;
    font-size: 100%;
    padding:0 1em 1em;
    margin-bottom:20em;
    text-align:center;
    margin:0 auto 1.5em;
    }

img {margin-bottom:0.25em;}

/* =Links, =Images ------------------------------------------------ */

a {outline:none !important;} /* Prevent visible outline on clicked anchors in Firefox */
a:link {text-decoration:none; color:#888; /*color:#c96;*/ border-bottom:1px solid #444;}
a:visited {text-decoration:none; color:#888; border-bottom:1px solid #333;}
a:hover {text-decoration:none; color:#ccc; border-color:#2b2b2b; outline:none;}
a:active {color:#f60; outline:none; border-bottom:none;}

img, a img {border:0 !important; border-style:none; text-decoration:none; margin-bottom:1em;}
a:link img, a:visited img {border:0 !important; border-style:none; text-decoration:none; border-bottom:none; cursor:pointer;}
a.imglink:link, a.imglink:visited, div.imglink a:link, div.imglink a:visited {border:none !important; cursor:pointer;}

div#gallery a, div#slideshow a {border:none;}
div#gallery a:hover, div#slideshow a:hover {background:none;}
h1 {
    line-height: 1.4em;
    font-size: 125%;
    margin:0 0 0.5em;
    color:#999;
    }
h1#logo {margin:0 -0.2em 0 0; font-size:110%;}
/*h1 a {text-decoration:none; color:#888 !important;}*/
h2 {
    line-height: 1.4em;
    font-size: 135%;
    margin: 1em 0 0.5em;
    letter-spacing:1px;
    color:#999;
    }

p {
    line-height: 1.4em;
    margin-bottom: 0.8em;
    font-size: 100%;
    }

ul#nav {margin-bottom:1em;}
a.colophon {font-size:80%; border:none;}
a.colophon:hover {color:#666; background:none;}
h2#slogan {font-size:80%; font-weight:normal; color:#888; margin:1em -0.2em 0 0; display:block;}
ul#nav li span, ul#nav li.here a {color:#888; line-height:1em; text-decoration:none; margin:0 -0.1em 0 0;}
ul#nav li a {text-decoration:none;}
div#page ul {margin-bottom:1em;}    
li {
    font-size: 100%;
    line-height: 1.4em;
    list-style: none;
    }
.quiet {color:#666 !important;}
.quiet a {color:#666;}
em {font-style:italic;}
strong {font-style:bold;}
blockquote {padding-left:1em; border-left:1px solid #ddd; margin-bottom:1em;}

p.biocontact {position:absolute; top:0; right:0;}

div#container {
    margin:1em auto 2em 0;
    max-width:1280px;
    }
    
/* =layout ---------------------------------------- */

div#header, div#subheader {
    position: relative;
    float: left;
    width: 17%;
    text-align:right;
    }
div#header a, div#subheader a {border:none;}

div#page {
    margin:0 1em 0 0;
    height:1%;
    width:78%;
    max-width:980px;
    overflow:visible;
    float:right;
    text-align:left;
    }

div#footer {
    clear:both;
    margin-left: 22%;
    font-size:90%;
    color:#666 !important;
    text-align:left;
    }
/*div#footer a {text-decoration:none; color:#666;}*/

/* =gallery
---------------------------------------- */
div#gallery {margin:0 0 0.25em; border:none;}

div.content {
    /* The display of content is enabled by a javascript generated style on the page.
       This is so that the slideshow content won't display unless javascript is enabled. */
    display: none;
    }

div#slideshow img, div.photo img {
    padding:0 0 0 0; 
    border:4px solid #000 !important;
    }
p.caption {font-size:85%; color:#666; margin:0 0 2em;}

div#cap p {margin:0 0 2em;}

div.controls {line-height:1em; margin:0 0 10px;}
div.controls a {
    padding:5px;
    margin-right:-5px;
    line-height:1.5em;
    text-decoration:none !important;
    letter-spacing: 0.1em;
    }
div.controls a:hover {color:#eee !important;}
div.ss-controls {
    display:inline-block;
    }
div.nav-controls {float:right;}

div.pagination {clear:both; padding:0; font-size:90%; line-height:1em;}
div.pagination a, div.pagination span.current {display:inline-block; padding:3px 6px; margin-left:1px; text-decoration:none !important; border:none;}
div.pagination span.current {background:none; border:none; color:#555 !important;}

div#thumbs-min {float:right; max-width:170px;}

#thumbs-min ul.thumbs {padding:10px 0;}
#thumbs-min ul.thumbs li {
    display:inline;
    padding: 0 !important;
    margin: 0 0 0 3px !important;
    list-style: none;
    line-height:0 !important;
    }
a.thumb {
    padding:0 !important;
    margin:0 !important;
    display: inline;
    }
a.thumb img {margin:0; padding:0;}

#thumbs-min ul.thumbs li.selected a.thumb {
    background: inherit;
    color: #444;
    border:none;
    }

/* =responsive structure - work in progress ---------------------- */

@media (max-width: 1230px) {
    #page {float:none !important; text-align:center !important; width:100% !important;}
    #slideshow img {max-width:100% !important; height:auto !important; margin:0 auto !important; text-align:center !important;}
    #subheader {text-align:center !important;}
    #controls, .nav-controls, .ss-controls {text-align:center !important; float:none !important; display:block !important;}
    #thumbs-min {float:none !important; max-width:100% !important; text-align:center !important;}
    #subheader {float:none !important; width:100% !important; clear:both !important;}
    #footer {margin: 1em auto !important; text-align:center !important;}
}