/* 
simongriffee-d.css
SimonGriffee.com master stylesheet by Simon Griffee
Last update: 2013-12-13
*/

* {vertical-align:baseline; font-family:inherit; outline:0; margin:0; padding:0;}

body {text-align:center; color:#000; background:#dcdcdc; /*background:#000;*/
font-family: 'Gentium Basic', times, 'times new roman', serif; font-size:100%; line-height:1em; /* 16x1.125=18px */
margin:0 0 15em;}

p.skip {display:none;}

/* =Links, =Images ------------------------------------------------ */

a {outline:none !important;} /* Prevent visible outline on clicked anchors in Firefox */
a:link {text-decoration:none; color:#000; border-bottom:1px solid #ccc; font-weight:bold;}
a:visited {text-decoration:none; color:#111; border-bottom:1px solid #ccc; font-weight:bold;}
a:hover {text-decoration:none; color:#111; background:#fff; border-color:#ccc; outline:none;}
a:active {color:#c00; outline:none; border-bottom:none;}

img, a img {border:0 !important; border-style:none; text-decoration:none; margin-bottom:1em;}
a:link img, a:visited img {border:0 !important; border-style:none; text-decoration:none; border-bottom:none; cursor:pointer;}
a.imglink:link, a.imglink:visited, div.imglink a:link, div.imglink a:visited {border:none !important; cursor:pointer;}

/* =layout ------------------------------------------------ */

#header {margin:25px auto 0 !important; padding:0 !important;} /*position:relative; */
body.storiesstoryindex #header {margin-bottom:15px !important;}

p.breadcrumbs {font-size:0.75em; line-height:1.461em;}
p.breadcrumbs span {margin:0 0.25em;}
p.breadcrumbs a.active {border:none; font-weight:bold;}

#page {position:relative; /*max-width:970px;*/ margin:0 auto 0; /*background:#ccc;*/}
body.storieslatest, body.storiesstoryindex, body.notebookthumbnails {margin-left:20px; margin-right:20px;} 
body.notebookthumbnails {margin-left:30px; margin-right:20px;} 

#content {text-align:left; clear:both; margin-bottom:2.5em;} /*=Note: commented out apparently unecessary width…check in IE…
*/
body.textpage #content {margin-top:3em;}

body#stories #content, body.storieslatest #content, body.storiessingles #content, body.storiesstoryindex #content, body.storiestitle #content, body.notebookthumbnails #content, body.notebooktitle #content, body.notebooktimeline #content {width:auto !important;}

div.storycolumn {float:left; width:18em;}

div#textframe {max-width:32em; margin:0.5em auto 0;}
body.notebooktimeline div#textframe, body#maps div#textframe {max-width:52em !important;}
div#textframe.withimage {margin-bottom:3em;}
body#stories div#textframe {max-width:50em !important;}
div#textframe h1, div#textframe h2 {text-align:center;}
body.textpage div#textframe h1, body.textpage div#textframe h2, body#stories div#textframe h1, #content h1, body#stories div#textframe h2 {text-align:left; margin-bottom:0.5em; text-transform:uppercase; letter-spacing:0.1em;}

#content h1 {margin-top:1em; line-height:1.5em;}

/*  =logo ---------------- */

h1#logo {letter-spacing:0.1em; font-size:1.2em !important; font-weight:normal; margin:0 0 0.4em; line-height:1em;}
/*body#about h1#logo,
body#contact h1#logo,
body.storieslatest h1#logo,
body.storiestitle h1#logo,
body.storiestimeline h1#logo
{margin-bottom:0.6em;}*/

h1#logo a {margin:0; padding:0.25em 0.45em;}
body.storiesstoryindex h1#logo {text-align:left; margin:0 0 0 -0.4em;}

#navcontainer {padding:0; text-align:center;}
body.storiesstoryindex #navcontainer {padding-top:1em; text-align:left; margin-left:-0.3em;}
#navcontainer ul {padding:0; margin:0 0 0.25em; list-style-type:none; position:relative; line-height:1em;}
/*body#notebook #navcontainer ul {margin-bottom:1.15em;}*/
#navcontainer li {display:inline; margin:0; line-height:2em;}
#navcontainer li.active {font-weight:bold;}
#navcontainer li.active span {font-weight:normal;}
.normal {font-weight:normal;}
#navcontainer ul a, #navcontainer ul a:link,#navcontainer ul a:visited {padding:0.4em 0.65em; border:none;}
#navcontainer ul a:hover, #navcontainer ul a:focus {color:#000;}

ul.subnav em {font-style:normal;}
ul.subnav a {font-weight:normal;}
ul.subnav a:hover, ul.subnav a:focus {background:#fff !important;} 

body.storieslatest li#nav-storieslatest a,
body.storiestitle li#nav-storiestitle a,
body.storiestimeline li#nav-storiestimeline a
{font-style:italic; font-weight:normal; background:#333;}

body#notebook #navcontainer li#nav-notebook a,
body#about #navcontainer li#nav-about a,
body#contact #navcontainer li#nav-contact a,
body#stories #navcontainer li#nav-stories a,
body#stories #navcontainer li#nav-archives a,
body#maps #navcontainer li#nav-maps a,
body#archives.notebookthumbnails #navcontainer li#nav-latest a {background:#ccc;}
/* TODO: Thumbnail archive pages: http://masonry.desandro.com/docs/intro.html */

#footer {clear:both; margin:0 auto; text-align:center; padding-top:2.5em;}
#footer p {font-size:0.75em !important; color:#666;}
body.notebookthumbnails #footer {padding-top:2em;}
body.storieslatest #footer, body.storiesstoryindex #footer {width:auto !important;}
body.storiesstoryindex #footer {padding-top:6em;}
#footer input {margin:0 0 0.75em; background:none; padding:5px;}
input.zemSubmit {padding:4px !important;}
input.zemSubmit:hover {cursor:pointer;}
/*#footer p {color:#777 !important; font-size:0.75em; line-height:1.65em; margin:0 0 0.55em;}*/
#footer a {color:#666 !important; font-weight:normal;}

/*h1 {font:bold 1.0625em/1.375em helvetica, arial, sans-serif; margin:-0.15em 0 0.3em;}*/
h2#NotebookPhotoTitle, h2#StoryPhotoTitle {clear:both; margin:0 0 1em !important; font-weight:normal; text-align:center;} /*white-space:nowrap; */
div#textframe.withimage h2 {text-align:left;}
/*body#stories div#textframe {color:#777;}*/
h1.weakcaption {font-weight:normal !important; font-size:0.75em !important;}

body#prints h1#StoryPhotoTitle {font-style:normal; font-weight:bold;}
h1 a:link, h1 a:visited {border:none;}
h1 a span {font-size:0.6875em; line-height:2em; border-bottom:1px solid #2b2b2b;}
h1 a:hover, h1 a:active {border:none; color:inherit;}
h1.printofthemonthtitle {font-family:georgia, times, sans-serif; font-weight:normal; letter-spacing:0.050em;}
.extramargin {margin:0.5em 0 1em;}

h2 {
    line-height: 1.4em;
    font-size: 100%;
    margin: 1.5em 0 0.25em;
    letter-spacing:1px;
    }
/*h2 a:link, h2 a:visited {border:none;} */
body#home h2 a:link, body#home h2 a:visited {border:none;}
/*h2 a:hover, h2 a:active {border-bottom:1px solid #2b2b2b; color:#000 !important;}*/
h3 {font-size:0.75em; margin:0 0 0.6em; }
h4 {font-size:0.75em; font-weight:normal; font-style:italic; margin:1.7em 0 0.5em; }
h5 {font-size:0.55em; text-transform:uppercase; margin:1.7em 0 0.5em; }
h6 {font-size:0.55em; text-transform:uppercase; font-style:italic; margin:1.7em 0 0.5em; }

/* =paragraphs, =misc ---------- */

p {margin-bottom:1.186em; font-size:0.9em; line-height:1.45em;} /* 13x0.8125=13px */
.center {text-align:center;}
li, dd {font-size:0.9em; line-height:1.4em;} /* 14x1.4=18px */

div.ThumbTitleCaption {float:left; width:12em; height:200px; margin:0.5em 1.25em 2em; padding:0;}
    div.ThumbTitleCaption:hover, div.ThumbTitleCaption:active {color:#fff !important;}
div.ThumbTitleCaption img {margin-bottom:0.5em !important;}
div.ThumbTitleCaption h3 {margin-bottom:0.25em;}
div.ThumbTitleCaption p {font-size:0.75em; line-height:1.261em; margin-bottom:0.25em;}
div.ThumbTitleCaption p.small {font-size:0.65em; line-height:1.25em; display:inline;}

div.homethumb {width:9em; margin-right:-5.7em; clear:both;}
div.homethumb h3, div.homethumb p {margin-bottom:0;}

ol.thumbs {margin:0 0 0 10px !important;}
body.storiesstoryindex ol.thumbs {margin:0 0 0 247px !important;}
ol.thumbs li {float:left; list-style:decimal outside; color:#333; margin:0 0 10px 30px; }
ol.thumbs li a {display:block; height:210px; border:none;}
ol.thumbs li a:hover, ol.thumbs li a:active {background:transparent; color:#c00 !important;}
ol.thumbs li:hover {color:#c00;}
ol.thumbs li img {margin:-10px 0 0 -20px; padding:10px;}

ol.thumbs li.textthumb {padding:0 10px 0; /*display:block !important;*/ width:100px !important; height:155px !important;}
ol.thumbs li.textthumb a {display:inline !important;}
ol.thumbs li.textthumb h3 {display:block !important;}

ol.thumbs.potm li {margin-bottom:1.5em;}
/*ol.thumbs.potm li:hover, ol.thumbs.potm li:active {background:#333;}*/
ol.thumbs.potm li a {display:inline !important;}
ol.thumbs.potm li p {margin-left:10px !important;}

ul.pagination {margin:0; clear:both;}
ul.pagination li {list-style:none; float:left; display:block; margin-right:3px;}
ul.pagination li a {display:block; padding:3px 7px; border-bottom:none;}
li.inactive {padding:3px 7px; color:#999 !important;}
li.currentpage {background:#ccc;}

h1#storytitle {text-align:left; letter-spacing:1px; font-size:2.25em; font-weight:bold; line-height:1em; margin:0.7em 0 1em;}
/*h1#storytitle a {color:#ccc !important;}*/

div#information, div#information_index {width:234px; float:left; margin:0 0 3em 0; }
div#information.autowidth {width:auto !important; max-width:26em;}
div#information_index {margin-top:-0.38em;}

div#information ul.storynav {list-style:none;}
div#information ul.storynav li {font-size:0.75em; line-height:1.461em;}
div#information ul.storynav li.arrownav a, div#information ul.storynav li.pagenav a {border:solid 1px #2b2b2b; padding:3px 4px 1px 4px; display:block;}
div#information ul.storynav li.storynavselected {font-weight:bold; background:#c00;}
/*div#information h1 a {font:bold 1.125em/1.375em helvetica, arial, sans-serif;}*/
p.sectiontitlemeta {font-style:italic; line-height:inherit; margin:0 0 0.25em !important;}
p.sectiontitlemeta a:link, p.sectiontitlemeta a:visited {border:none;}
p.sectiontitlemeta a:hover, p.sectiontitlemeta a:active {color:#000;}

img#potmplate, div.potmthumb img, img.potmthumb, ol.thumbs.potm li img {   border-top:6px solid #b3b3b3 !important; border-right:6px solid #d5d5d5 !important; border-bottom:6px solid #ccc !important; border-left:6px solid #c1c1c1 !important; }
div.potmthumb img, img.potmthumb, ol.thumbs.potm li img {border-width:3px !important;}
img#potmplate {margin-bottom:1.25em !important;}

/* =photonav overlay --------------------------------------------- */

div#plateframe {position:relative; margin:0 auto; text-align:center;}
body#notebook div#plateframe {margin:0 auto;}
div#plateframe a {border:none !important;}
div#plateframe a:hover {background:transparent !important;}
div#plateframe img {border:3px solid #000 !important;}

p.ruler {clear:both; height:0; width:0; border:none; margin:0; padding:0; text-indent:-2000em;}

body#search p.date {text-align:left;}
p.feeds {padding-top:3em;}
p.caption, div.caption {font-size:0.75em; line-height:1.261em; font-style:italic; clear:both; text-align:center;}
p.entry-summary {margin-bottom:3em;}
p.smallprint, p.footnote {font-size:0.75em; letter-spacing:0.055em;}
p.footnote {color:#666;}
span.caps, strong.caps {font-size:0.95em; line-height:0;}
.current {font-style:italic; border-left:8px solid #ccc; padding-left:5px;}
/*li.current a {color:#ccc !important;}*/
.clear {clear:both;}
.quiet {color:#333;}
h1 span.smaller {font-size:0.875em; line-height:0;}
.floatleft {float:left; margin:0 1.5em 1em 0;}
.floatright {float:right; margin:0 0 2em 2em;}
.clearboth {clear:both;}

div.sec {margin-bottom:4em; clear:both;}

hr, div.end {   height:1px; background:#cc9; margin:3em -240px 3.5em; width:740px; border:none 0; 
    display:block; clear:both; color:#ccc; }
* html body hr {height:0; background:none; margin-top:-10px;}
blockquote {margin:1em 0 1.4em; padding-left:1em; border-left:1px solid #ccc;}
pre {   font-family:monospace; font-size:1em; padding:10px; }
em, i, cite {font-style:italic;}
strong, b {font-weight:bold;}
del {text-decoration:line-through; color:#777;}
ins {background:#ffc; text-decoration:none; border-bottom:1px dashed;}
kbd {background:#ff9;}
acronym, cite {border-bottom:1px dashed #2b2b2b;}
address {margin:1.5em 0; font-style:italic;}
sup {line-height:0;}
sup.footnote {line-height:0; font-size:0.9em !important;}

body#archive #content p {margin-top:0; margin-bottom:0.25em;}
body#archive #content p em {	font-size:0.75em !important; line-height:1.461em; 	}
ul#notebooktitlelist {list-style:none;}
body.notebooktimeline div#content dl#timelinelist dt {margin:1.4em 0 0; /*same as h2*/}
body.notebooktimeline div#content dl#timelinelist dd.archiveday {font-weight:normal; margin:0 0 -1.4em 0;}
body.notebooktimeline div#content dl#timelinelist dd.archivetitle {position:relative; color:#2b2b2b; margin-left:1.5em;}
em.capturedate, .small {font-size:0.75em; line-height:1.35em; color:#777;}
em.capturedate {font-style:normal;}
body.searchresults strong {background:#ff0; color:#000;}

/* =lists ---------- */
ul {font-size:inherit; list-style:disc inside;}
/*body.textpage #content ul, body.textpage #content ol {list-style:outside; margin-left:1.25em !important;}*/
ul.left {float:left;}
ul.right {float:right;}
dl {font-size:1em; line-height:1.4em;}
ul#titlelist, ul#timelinelist, ul.archivelist {margin-left:0 !important; padding-left:0 !important; list-style:none inside !important;}

#content ul, #content dl, #content ol {margin:0 0 1.4em 0.1em;}
ol {font-size:inherit; list-style:decimal inside;}
#textframe ul, #textframe ol {list-style:outside; padding-left:1em;}

ul ul, ol ol, ul ol, ol ul {margin:0 0 0 2.1em !important;}

a#defaultstyle {border:none; font-weight:bold;}
a#darkstyle {border-bottom:solid 1px #ccc; font-weight:normal;}
a#lightstyle {border-bottom:solid 1px #ccc; font-weight:normal;}
a#largerstyle {border-bottom:solid 1px #ccc; font-weight:normal;}

/* =forms ------ */
form.zemContactForm {margin:0 0 2em;}
input, textarea {font-size:0.75em; line-height:1.25em; margin:0 0 1em; border:1px solid #bbb; font-weight:normal !important; padding:0.25em 0.55em; background:#fafafa;}
div#packetform label {font-style:italic;}
div#packetform select {padding:2px; font-size:0.75em;}
div#packetform input {padding:0; background:transparent;}
label {font-size:0.75em; line-height:1.461em; font-weight:bold;}
div#purchaseform form {background:#fafafa; padding:10px;}
div#purchaseform input, div#purchaseform textarea {background:#cf9;}
div#purchaseform h3 {margin-bottom:1.4em;}
div#purchaseform h3 span {color:inherit; font-weight:normal;}
div.purchasebutton input {border:none !important; padding:0 !important; margin-bottom:0.25em;}
p.thankyou {background:transparent; font-family:georgia, times, sans-serif; font-weight:normal; letter-spacing:0.050em; padding:2em; font-style:italic; text-align:center;}
input.checkbox {margin:1em 0 0;}
input.zemRadio {margin:0 0 0 1em; padding:0;}
select {display:block; margin-bottom:1em;}
fieldset {padding:1em 0; border:none;}
form#search label {display:none;}
input:hover, input:focus, input:active {background:#fff !important; color:#000 !important;}

ul.zemError {color:#c00 !important; padding:10px; border:2px solid #c00; width:auto; background:#fafafa;}
div.zemThanks p {padding:2em 3em; background:transparent; text-align:center; font-family:georgia, times, serif; font-size:1.125em; line-height:1.375em; font-style:italic;}

/* =tables --------------------------------------------- */

table {width:38em; padding:0; margin:0 0 2em; border-collapse:collapse;}
table caption {padding:0 0 0.9em 0; width:auto; font-style:italic; text-align:right;}
table th {text-align:left; border:1px solid #bbb; padding:0.7em; letter-spacing:0.1em; font-size:0.75em; line-height:1.461em;}
table td {border:1px solid #bbb; padding:0.7em; font-size:0.75em; line-height:1.461em;}
table td.alt {}
table th.vert {border-left:1px solid #bbb; border-top:0; font-weight:bold;}
table th.vertalt {border-left:1px solid #bbb; border-top:0; font-weight:bold;}
.alignright {text-align:right;}
.aligncenter {text-align:center;}
table#printdetails {width:26em;}

/* =photos --------------------------------------------- */

ul#photos {margin:0; padding:0;}
ul#photos li {display:block; float:left;}
ul#photos li a {display:block; width:120px; height:90px; list-style:none; border:2px solid #bbb; margin:0 8px 8px 0;}
ul#photos li a:hover {border-color:#633;}

/* =responsive structure ---------------------- */

@media (max-width: 960px) {
    div#plateframe img {max-width:100% !important; height:auto !important;}
    div#textframe {padding:0 1em;}
    textarea {width:96% !important;}
    div#information_index {width:auto; float:none;}
    body.storiesstoryindex ol.thumbs {margin:0 !important;}
    div.storycolumn {width:auto !important;}
    }