---
layout: notebook_home_base
category: notebook
tags: [simon griffee, photographs, notebook, blog, journal]
---

{% comment %}
	{% assign post = site.posts.first %}
	{% assign content = post.content %}
	{% include entry_detail.html %}
{% endcomment %}

<div id="plateframe">
  {% for post in site.posts limit:14 %}
    {% if post.date_taken %}
      <a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">
          <img {% if post.noborder %}style="border:0 !important;"{% endif %}  src="/images/{{ post.image }}.{% if post.extension %}{{ post.extension }}{% else %}jpg{% endif %}" alt="Permanent link to this Notebook entry." />
      </a>
      <div class="caption">
        <h3><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">{{ post.title }}, {{ post.location }}, {{ post.date_taken }}</a></h3>
        <p class="date">
          <i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">Published {{ post.date | date: "%-d %B %Y" }}</a></i>
        </p> 
        {{ post.content }}
      </div> <!-- /.caption -->

    {% else %}
		
		{% comment %} For singles {% endcomment %}
			{% if post.homeimg %}
        <a href="{{ site.url }}{{ post.url }}" title="See this Singles category.">
            <img src="{{ post.homeimg }}" alt="See this Singles category." />
        </a>
			{% endif %}
		
      <div class="caption">
        <h3><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">{{ post.title }}</a></h3>
          <p class="date">
            <i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry."># Published {{ post.date | date: "%-d %B %Y" }}</a></i>
          </p>
          {{ post.content }}
      </div> <!-- /.caption -->
    {% endif %}
		<br>
		<br>
		<br>
  {% endfor %}				
	
	<h2>Archives</h2>
	<ul class="unstyled">
	{% for post in site.posts %}
	  {% if post.category != 'unlisted' %}
	    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
	    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
	        {% if month != nmonth %}
	            {% comment %}{% if forloop.index != 1 %}</ul>{% endif %}{% endcomment %}
	            <li><a href="/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/">{{ post.date | date: '%B %Y' }}</a></li>
	        {% endif %}
	  {% endif %}
	{% endfor %}
	</ul>
	
</div> <!-- /#plateframe -->