---
layout: notebook_home_base
category: notebook
tags: [simon griffee, photographs, notebook, blog, journal]
---

{% comment %}
	{% assign post = site.posts.first %}
	{% assign content = post.content %}
	{% include entry_detail.html %}
{% endcomment %}

<div id="plateframe" class="textcontent">
  {% for post in paginator.posts %}
    {% if post.date_taken %}
      <a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">
          <img {% if post.noborder %}style="border:0 !important;"{% endif %}  src="/images/{{ post.image }}.{% if post.extension %}{{ post.extension }}{% else %}jpg{% endif %}" alt="Permanent link to this Notebook entry." />
      </a>
      <div class="caption">
        <h3><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">{{ post.title }}, {{ post.location }}, {{ post.date_taken }}</a></h3>
        <p class="date">
          <i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">Published {{ post.date | date: "%-d %B %Y" }}</a></i></p>
        {{ post.content }}
      </div> <!-- /.caption -->

			{% elsif post.homeimg %}
		
			{% comment %} For singles {% endcomment %}

        <a href="{{ site.url }}{{ post.url }}" title="See this selection.">
            <img src="{{ post.homeimg }}" alt="See this selection." />
        </a>
				
        <div class="caption">
          <h3><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this selection.">{{ post.title }}</a></h3>
            <p class="date">
              <i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this selection."># Published {{ post.date | date: "%-d %B %Y" }}</a></i></p>
						{{ post.intro }}
        </div> <!-- /.caption -->

			{% else %}
		
      <div class="caption">
        <h3><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry.">{{ post.title }}</a></h3>
          <p class="date">
            <i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this Notebook entry."># Published {{ post.date | date: "%-d %B %Y" }}</a></i></p>
          {{ post.content }}
      </div> <!-- /.caption -->
    {% endif %}
		<br>
		<br>
		<br>
  {% endfor %}
  
  <!-- Pagination links -->
  <p class="pagination caps">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Prior</a>
    {% else %}
    {% endif %}
      Page {{ paginator.page }} of {{ paginator.total_pages }}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    {% endif %}
  </p>
	
	<h2>Archives</h2>
	<ul class="unstyled">
	{% for post in site.posts %}
	  {% if post.category != 'unlisted' %}
	    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
	    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
	        {% if month != nmonth %}
	            {% comment %}{% if forloop.index != 1 %}</ul>{% endif %}{% endcomment %}
	            <li><a href="/{{ post.date | date: '%Y' }}/{{ post.date | date: '%m' }}/">{{ post.date | date: '%B %Y' }}</a></li>
	        {% endif %}
	  {% endif %}
	{% endfor %}
	</ul>
	
	<h2 id="mailinglist">Mailing List</h2>

<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup" style="max-width:auto;">
<form action="//simongriffee.us10.list-manage.com/subscribe/post?u=65f6bb039b3c2a16e0a535abb&amp;id=be73afffb0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL" style="font-weight:normal !important;">Subscribe to <a href="http://us10.campaign-archive1.com/home/?u=65f6bb039b3c2a16e0a535abb&id=be73afffb0" title="View previous emails.">my mailing list</a> to receive the previous week&rsquo;s <a href="/notebook/" title="My blog.">Notebook</a> entries (usually photographs) by email every Monday. You won&rsquo;t be spammed.</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_65f6bb039b3c2a16e0a535abb_be73afffb0" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" ></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
	
</div> <!-- /#plateframe -->