  <!-- <a href="http://simongriffee.com/notebook/GRS-20140208-092822" title="Fes el Bali"><img src="http://simongriffee.com/images/1997t.jpg" alt="Fes el Bali" title="Fes el Bali"   class="wet_article_thumb" width="200" height="133"  /></a> Loading hidden thumbnail for fb links -->
  <div id="plateframe">
    {% if post.previous_in_category != nil %}<a href="{{post.next_in_category.url}}" title="{{ post.excerpt }}Click to see the previous entry."><img src="http://simongriffee.com/images/{{ post.image }}.jpg" alt="{{ post.excerpt }}" /></a>{% endif %} 
  </div> <!-- /#plateframe -->

  <div id="textframe">
    {% if post.excerpt != nil %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this note.">{{ post.title }}</a></h2>
      <p class="small center">Published {{ post.date | date: "%-d %B %Y" }}</p>
      {{ content }}
    {% else %}
      {{ content }}
      <h2 id="NotebookPhotoTitle" class="weakcaption"><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this note.">{{ post.title }}, {{ post.location }}, {{ post.date_taken }}</a></h2>
      <p class="small center">Published {{ post.date | date: "%-d %B %Y" }}</p>
    {% endif %}
  </div> <!-- /#textframe -->