<!-- <a href="http://simongriffee.com/notebook/GRS-20140208-092822" title="Fes el Bali"><img src="http://simongriffee.com/images/1997t.jpg" alt="Fes el Bali" title="Fes el Bali"   class="wet_article_thumb" width="200" height="133"  /></a> Loading hidden thumbnail for fb links -->
{% if post.date_taken %}
<div id="plateframe">
  <a href="{{ post.next_in_category.url }}" title="Click to see the next entry.">
      <img {% if post.noborder %}style="border:0 !important;"{% endif %}  src="/images/{{ post.image }}.{% if post.extension %}{{ post.extension }}{% else %}jpg{% endif %}" alt="" />
  </a>
</div> <!-- /#plateframe -->
{% endif %}

<div id="textframe" class="text">
  {% if post.date_taken %}
    <h2 id="NotebookPhotoTitle" class="weakcaption title"><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this note.">{{ post.title }}, {{ post.location }}, {{ post.date_taken }}</a></h2>
      <p class="date center"><i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this note.">Published {{ post.date | date: "%-d %B %Y" }}</a></i><small>  · 
Permalink for copy &amp; paste: {{ site.url }}{{ post.url }}</small></p>

    {{ content }}
  {% else %}
    <h2 class="title"><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this note.">{{ post.title }}</a></h2>
      <p class="date center"><i><a href="{{ site.url }}{{ post.url }}" title="Permanent link to this note.">Published {{ post.date | date: "%-d %B %Y" }}</a></i><small>  · 
Permalink for copy &amp; paste: {{ site.url }}{{ post.url }}</small></p>

    {{ content }}
  {% endif %}
</div> <!-- /#textframe -->