<h1 id="logo"><a href="/" title="Home.">Simon Griffee</a></h1>
<div id="navcontainer">
	<ul class="nav">
		<li id="nav-notebook"><a href="/notebook/" title="A photographic journal, usually showing recent work.">Notebook</a></li>
		<li id="nav-stories"><a href="/stories/" title="Projects, essays, series of photographs.">Stories</a></li>
		<li id="nav-singles"><a href="/singles/" title="Selected best photographs.">Singles</a></li>
		<li id="nav-about"><a href="/about/" title="Biography of Simon Griffee.">About</a></li>
		<li id="nav-contact"><a href="/contact/" title="Correspond with Simon.">Contact</a></li>
	</ul>
</div>