 <div id="navcontainer">
   <ul>
     <li id="nav-home"><a href="/" title="SimonGriffee.com homepage.">Home</a></li>
     <li id="nav-notebook"><a href="/notebook/" title="Journal of photographs.">Notebook</a></li>
     <li id="nav-stories"><a href="/stories/" title="Projects, essays, series of photographs.">Stories</a></li>
     <li id="nav-about"><a href="/about/" title="Biography of Simon Griffee.">About</a></li>
     <li id="nav-contact"><a href="/contact/" title="Correspond with Simon.">Contact</a></li>
   </ul>
   <ul class="subnav">
     {% for post in site.posts offset:1 limit:1 %}
       {% if post.next_in_category != nil %}<li><em><a rel="prev" href="{{post.next_in_category.url}}">&larr; Before</a></em></li>{% endif %} 
     {% endfor %}
      <li><em><a href="/random.html" title="Let the stars and math choose.">Random</a></em></li>
      <li id="nav-archives"><em><a href="/notebook/archive.html" title="Browse the SimonGriffee.com notebook archive.">Archive</a></em></li>
    </ul>
 </div>  <!-- /#navcontainer -->