<h1 id="logo"><a href="/" title="Home.">Simon Griffee</a></h1>
<div id="navcontainer">
 <ul class="nav">
   <li id="nav-notebook"><a href="/notebook/" title="A photographic journal, usually showing recent work.">Notebook</a></li>
   <li id="nav-stories"><a href="/stories/" title="Projects, essays, series of photographs.">Stories</a></li>
	 <li id="nav-singles"><a href="/singles/" title="Selected best photographs.">Singles</a></li>
   <li id="nav-about"><a href="/about/" title="Biography of Simon Griffee.">About</a></li>
   <li id="nav-contact"><a href="/contact/" title="Correspond with Simon.">Contact &amp; Mailing List</a></li>
   <li id="nav-patrons"><a href="/p/" title="Buy a print.">Prints &amp; Patrons</a></li>
 </ul>
 <ul class="subnav">
	 {% for post in site.posts limit:1 %}
		 {% if post.homeimg == nil %}
		   {% if post.next_in_category != nil %}<li><em><a rel="prev" href="{{post.next_in_category.url}}" title="Previous Notebook entry.">&larr; Before</a></em></li>{% endif %}
		 {% endif %}
	 {% endfor %}
    <li><em><a href="/random/" title="Let the cosmos and math choose.">Random</a></em></li>
    <li id="nav-archives"><em><a href="/archive/" title="Browse the SimonGriffee.com notebook archive.">Archive</a></em></li>
  </ul>
</div>  <!-- /#navcontainer -->