---
layout: static
category: about
---

<!-- <img src="/img/GRS-20110802-000753.jpg" alt="Isola del Giglio, August 2011." width="530"> -->
<img src="/img/Portraits/044-GRS-20111122-174515.jpg" alt="Simon getting a haircut in Rome, Italy." width="530">

<h2>Simon Griffee</h2>

<p>Like many human beings I like to communicate in one of our oldest languages, <a href="https://dribbble.com/hypertexthero/projects/356239-Drawing" title="See some of my drawings on Dribbble.">drawing</a>, with one of our great <a href="http://simongriffee.com/notebook/what-camera" title="On cameras.">tools</a>, photography. Photographing helps me feel and notice the world and time I live in and <a href="http://simongriffee.com/notebook/editing" title="On Editing.">convey</a> something of this to others.</p>

<p>Born and raised in Brazil, my childhood was spent on the move there. I learned English in Tunisia and to see in Italy. I currently live in New York City where I <a href="http://hypertexthero.com/work/">work</a> as a graphic designer in <a href="https://vimeo.com/19005726">Milton Glaser</a>’s studio and at Columbia University.</p>

<h2>Commissioned Work</h2>

<p>{% include hireme.html %} <a href="/contact/">Get in touch</a>.</p>

<h2>Prints</h2>

<p>You can <a href="/p/">purchase prints</a> of my work.</p>

<h2>Social</h2>

<p>{% include social.html %}</p>

<h2>Clients</h2>

<ul>
  <li>
    Columbia University ·
    <a href="https://dribbble.com/shots/2527238-Magdalena" title="Piano virtuoso Magdalena Baczewska.">1</a>
    <a href="http://simongriffee.com/notebook/GRS-20151015-100821" title="Raimondo Betti (Professor, Civil Engineering and Engineering Mechanics, Columbia University) stands next to the Cable Corrosion Monitoring System, a major research project he led at Columbia’s Carleton Lab.">2</a>
  </li>
  <li>BBC Travel · 
    <a href="http://www.bbc.com/travel/slideshow/20140626-the-stories-and-secrets-of-fez" title="The Stories and Secrets of Fez.">1</a> 
    <a href="http://www.bbc.com/travel/bespoke/story/20150309-50-reasons-to-love-the-world/index.html#paulen-farley-2819" title="This is the black and white version of reason #39 in BBC Travel’s 50 Reasons to Love The World">2</a>
  </li>
  <li>
    Food and Agriculture Organization of the United Nations ·
    <a href="http://simongriffee.com/stories/vietnam#&gid=1&pid=12" title="Vietnam farmer photographs for the Food and Agriculture Organization.">1</a>
  </li>
</ul>

<h2>Award</h2>

<p>1<sup>st</sup> Place, <i>Premio di Fotografia Estemporanea</i>, Bracciano, Italy.</p>

<h2>Solo Exhibition</h2>

<p>Libero Pensiero, <i>I Granai</i>, Rome, Italy.</p>

<h2>Group Exhibitions</h2>

<p>
  <a href="/notebook/first-nyc-group-exhibition-penumbra-member-show.html">Penumbra Member Show </a>, <i>Soho Photo Gallery</i>, New York City.<br>
  <a href="/notebook/in-the-cave.html">In The Cave</a>, <i>The Room Gallery</i>, Rome, Italy.
</p>

<h2 id="copyright">Copyright</h2>

<p>
  Photographs are copyright by Simon Griffee. All rights reserved.
</p>