<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <meta name="description" content="{% if page.path contains '_posts' %} {{ page.title }} - Stories - {% else %}Stories -{% endif %} Photographs by Simon Griffee.">
  <meta name="keywords" content="simon griffee, photographer, photographs">
  <meta name="author" content="Simon Griffee">
  <meta name="copyright" content="Content and design copyright by Simon Griffee.">

  <title>{% if page.path contains '_posts' %}{{ page.title }} - {% else %}{% endif %}{{site.name}}</title>

  <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/css/screen.css">

  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/jquery.galleriffic.min.js"></script>
  
  <script type="text/javascript">
  $(document).ready(function () {
    $( "#showshare" ).click(function() {
      $( "#share" ).toggle( "fast", function() {
      });
    });
  });
  </script>

</head>
<body>
  
  {{ content }}
  
</body>
</html>