---
layout: entry_base
---

  {% if page.date_taken %}
    <!-- 
      =todo: find a more elegant way to accomplish this.
      Loading hidden thumbnail for fb links
      <img src="/images/{{ page.image }}t.jpg" alt="{{ page.title }}" /> Loading hidden thumbnail for fb links
    -->
  <div id="plateframe">
    <a href="{{ page.next_in_category.url }}"><img {% if page.noborder %}style="border:0 !important;"{% endif %}  src="/images/{{ page.image }}.{% if page.extension %}{{page.extension}}{% else %}jpg{% endif %}" alt="{{ page.title }}" /></a>
  </div> <!-- /#plateframe -->
  {% endif %}

  <div id="textframe" class="text">
    {% if page.date_taken %}
      <h2 id="NotebookPhotoTitle" class="title"><a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">{{ page.title }}, {{ page.location }}, {{ page.date_taken }}</a></h2>
      <p class="date center"><i><a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">Published {{ page.date | date: "%-d %B %Y" }}</a></i> <small>· <a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">{{ site.production_url }}{{ page.url }}</a></small></p>
      {{ content }}
    {% else %}
      <h2 class="title"><a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">{{ page.title }}</a></h2>
      <p class="date center"><i><a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">Published {{ page.date | date: "%-d %B %Y" }}</a></i> <small>· <a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">{{ site.production_url }}{{ page.url }}</a></small></p>
      {{ content }}
    {% endif %}
  </div> <!-- /#textframe -->

