---
layout: entry_base
---

  <!-- <a href="http://simongriffee.com/notebook/GRS-20140208-092822" title="Fes el Bali"><img src="http://simongriffee.com/images/1997t.jpg" alt="Fes el Bali" title="Fes el Bali"   class="wet_article_thumb" width="200" height="133"  /></a> Loading hidden thumbnail for fb links -->
  {% if page.date_taken %}
  <div id="plateframe">
    <a href="{{page.next_in_category.url}}"><img src="http://simongriffee.com/images/{{ page.image }}.jpg" alt="{{ page.title }}" /></a>
  </div> <!-- /#plateframe -->
  {% endif %}

  <div id="textframe" class="text">
    {% if page.date_taken %}
      <h2 id="NotebookPhotoTitle" class="weakcaption title"><a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">{{ page.title }}, {{ page.location }}, {{ page.date_taken }}</a></h2>
      <p class="small center">Published {{ page.date | date: "%-d %B %Y" }}</p>
      {{ content }}
    {% else %}
      <h2 class="title"><a href="{{ site.url }}{{ page.url }}" title="Permanent link to this note.">{{ page.title }}</a></h2>
      <p class="small center">Published {{ page.date | date: "%-d %B %Y" }}</p>
      {{ content }}
    {% endif %}
  </div> <!-- /#textframe -->

