<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
  <title>
    {% if page.path contains '_posts' %} {{ page.title }} - {{ page.category | capitalize }} - {% else %}{% endif %}
    {% if post.path contains '_posts' %} {{ post.title }} - {{ post.category | capitalize }} - {% else %}{% endif %}
    {{ site.name }}
  </title>
</head>
<body id="notebook">
  <div id="page">
    <div id="header">
      {% include navigation.html %}
    </div> <!-- /#header -->
    <div id="content">
      {{ content }}
    </div> <!-- /#content -->
    <div id="footer" class="largetopmargin">
      {% include footer.html %}      
    </div> <!-- /#footer -->
  </div> <!-- /#page -->
  {% include bodyend.html %}
</body>
</html>