<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <meta name="description" content="{% if page.path contains '_posts' %} {{ page.title }} - {{ page.category }} - {% else %}{% endif %}{{site.name}}">
  <meta name="keywords" content="simon griffee, photographer, photographs">
  <meta name="author" content="Simon Griffee">
  <meta name="copyright" content="Content and design copyright by Simon Griffee.">

  <title>{% if page.path contains '_posts' %} {{ page.title }} - {{ page.category }} - {% else %}{% endif %}{{site.name}}</title>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ site.url }}/css/simongriffee.css">

  <!--[if lte IE 6]>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/ie6.css" />
  <![endif]-->

  <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/ie7.css" />
  <![endif]-->
</head>
<body id="notebook">
  <div id="page">
    <div id="content">
      {{ content }}
    </div> <!-- /#content -->
    
    <div id="header">
      <h1 id="logo"><a href="/" title="SimonGriffee.com homepage.">Simon Griffee · Photographer</a></h1>
      <div id="navcontainer">
        <ul>
          <li id="nav-notebook"><a href="/" title="Journal of photographs (site homepage).">Notebook</a></li>
          <li id="nav-stories"><a href="/stories/" title="Projects, essays, series of photographs.">Stories</a></li>
          <li id="nav-about"><a href="/about/" title="Biography of Simon Griffee.">About</a></li>
          <li id="nav-contact"><a href="/contact/" title="Correspond with Simon.">Contact</a></li>
        </ul>
        <ul class="subnav">
          {% if page.next_in_category != nil %}<li><em><a rel="prev" href="{{page.next_in_category.url}}">&larr; Before</a></em></li>{% endif %} 
          {% if page.previous_in_category != nil %}<li><em><a rel="next" href="{{page.previous_in_category.url}}">After &rarr;</a></em></li>{% endif %}
          <!-- =todo: <li><em><a href="http://simongriffee.com/notebook/street-clock" title="Let the stars and math choose.">Random</a></em></li> -->
          <li><em><a href="/random.html" title="Let the stars and math choose.">Random</a></em></li>
          <!-- =todo: <li id="nav-archives"><em><a href="/archives/" title="Browse the SimonGriffee.com archives.">Archives</a></em></li> -->
        </ul>
      </div>  <!-- /#navcontainer -->
    </div> <!-- /#header -->
    <div id="footer" class="largetopmargin">
      <form id="search" action="/search/" method="get">
        <input type="text" name="q" value="" size="22" />
        <input type="submit" value="Search" class="zemSubmit" />
      </form>
      <p>
        <a href="/about#copyright" title="Copyright information concerning this website and its content.">&copy; 2014 Simon Griffee</a>. All rights reserved.
      </p>
    </div> <!-- /#footer -->
  </div> <!-- /#page -->
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-293592-2");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>