---
layout: archive_thumbnails
---
<h1><span class="normal">Notebook <a href="/archive/months/">Monthly Thumbnail Archives</a> for</span> {{page.month | date: '%B'}} {{page.year}}</h1>
<p>Browse by <a href="/archive/">timeline</a>. Adventurous? Visit a <a href="/random/" title="Let the stars and math choose.">random</a> entry.</p>

<form method="get" id="search" action="http://duckduckgo.com/">
    <input type="hidden" name="sites" value="simongriffee.com"/>
    <input type="hidden" name="k8" value="#444444"/>
    <input type="hidden" name="k9" value="#D51920"/>
    <input type="hidden" name="kt" value="h"/>
    <input type="text" name="q" maxlength="255" placeholder="Search&hellip;"/>
    <input type="submit" value="Search" />
</form>

<ol class="thumbs">
{{ content }}
</ol>
<br style="clear:both;">