<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
  <title>Search - {{ site.name }}</title>
</head>
<body id="home" class="searchresults textpage">
  <div id="header">
    {% include navigation.html %}
  </div> <!-- /#header -->
  <div id="content">
    <div id="textframe">

			  {% include search.html %}
			      
      {{ content }}
    </div> <!-- /#textframe -->
  </div> <!-- /#content -->
  <div id="footer" class="largetopmargin">
    {% include footer.html %}
  </div> <!-- /#footer -->
  {% include bodyend.html %}
</body>
</html>