<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="robots" content="index,follow">
  <meta name="description" content="{% if page.path contains '_posts' %} {{ page.title }} - {{ page.category }} - {% else %}{% endif %}{{site.name}}">
  <meta name="keywords" content="simon griffee, photographer, photographs">
  <meta name="author" content="Simon Griffee">
  <meta name="copyright" content="Content and design copyright by Simon Griffee.">

  <title>
    {% if page.path contains '_posts' %} {{ page.title }} - Stories - {% else %}{% endif %}
    {% if post.path contains '_posts' %} {{ post.title }} - Stories - {% else %}{% endif %}
    {{ site.name }}
  </title>

  <link href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="{{ site.url }}/css/sg.css">

  <link href="{{ site.url }}/css/royalslider.css" rel="stylesheet">
  <link href="{{ site.url }}/css/rs-minimal-white.css" rel="stylesheet">  
  
  <script src="{{ site.url }}/js/jquery-2.1.0.min.js"></script>  
  <script src="{{ site.url }}/js/rs.js"></script>

  <style>
    #gallery {
    width: 100% !important;
    -webkit-user-select: none;
    -moz-user-select: none;  
    user-select: none;
    } 
  </style>

  <script type="text/javascript">
  $(document).ready(function () {
    $( "#showshare" ).click(function() {
      $( "#share, .rsGCaption" ).toggle( "fast", function() {
      });
    });
    // $( "#quietview" ).click(function() {
    //   $( "#subheader, #footer" ).toggle( "fast", function() {
    //   });
    // });
    $("#silence").click(function(){
      $(this).text($(this).text() == 'Silence' ? '· · ·' : 'Silence'); 
      $(this).addClass("silenced");
      $("#storynav, .intro, #footer, .rsGCaption, .rsNav, #showshare").slideToggle("fast");
    });

  });
  </script>

</head>
<body class="story">
  
  {{ content }}
  
</body>
</html>